# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
url="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"

In [3]:
url1="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

   ### Step 3. Assign each to a variable called cars1 and cars2

In [4]:
cars1=pd.read_csv(url,',')
print(cars1)
cars2=pd.read_csv(url1,',')
print(cars2)

C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\interactiveshell.py:3397: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\interactiveshell.py:3397: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
193  24.0          6           200         81    3012          17.6     76
194  22.5          6           232         90    3085          17.6     76
195  29.0          4            85         52    2035          22.2     76
196  24.5          4            98         60    2164          22.1     76
197  29.0          4            90         70    1937          14.2     76

     origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0         1  chevrolet chevelle malibu         NaN          NaN          NaN
1         1          buick skylark 320         NaN          NaN          NaN
2         1         plymouth satellite         NaN          NaN          NaN
3         1              amc rebel sst         NaN          NaN          NaN
4         1                ford torino         NaN          NaN          NaN
..      ...                        ...         ...          ...          ...
193       1              ford maverick         NaN          NaN          NaN
194       1                 amc hornet         NaN          NaN          NaN
195       1         chevrolet chevette         NaN          NaN          NaN
196       1            chevrolet woody         NaN          NaN          NaN
197       2                  vw rabbit         NaN          NaN          NaN

     Unnamed: 12  Unnamed: 13
0            NaN          NaN
1            NaN          NaN
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
..           ...          ...
193          NaN          NaN
194          NaN          NaN
195          NaN          NaN
196          NaN          NaN
197          NaN          NaN

[198 rows x 14 columns]
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    33.0          4            91         53    1795          17.4     76
1    20.0          6           225        100    3651          17.7     76
2    18.0          6           250         78    3574          21.0     76
3    18.5          6           250        110    3645          16.2     76
4    17.5          6           258         95    3193          17.8     76
..    ...        ...           ...        ...     ...           ...    ...
195  27.0          4           140         86    2790          15.6     82
196  44.0          4            97         52    2130          24.6     82
197  32.0          4           135         84    2295          11.6     82
198  28.0          4           120         79    2625          18.6     82
199  31.0          4           119         82    2720          19.4     82

     origin                 car
0         3         honda civic
1         1      dodge aspen se
2         1   ford granada ghia
3         1  pontiac ventura sj
4         1       amc pacer d/l
..      ...                 ...
195       1     ford mustang gl
196       2           vw pickup
197       1       dodge rampage
198       1         ford ranger
199       1          chevy s-10

[200 rows x 9 columns]

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
cars1=cars1.loc[:,"mpg":"car"]
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [6]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
cars=cars1.append(cars2)
cars

C:\Users\HP\AppData\Local\Temp\ipykernel_13232\3458682206.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars=cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
nr_owners = np.random.randint(15000, high=73000, size=398, dtype= int)
nr_owners

array([46304, 45057, 21532, 38691, 37937, 66378, 57205, 33542, 41664,
       40596, 37434, 53385, 29981, 23901, 58219, 59383, 51391, 48518,
       23329, 48435, 65568, 36298, 56729, 66125, 45071, 63590, 22763,
       27894, 66128, 15442, 16785, 30747, 45794, 24000, 54646, 51238,
       57276, 28319, 38989, 63297, 66436, 61568, 70101, 47069, 53750,
       39357, 30960, 50968, 15489, 69653, 59813, 56085, 19983, 59953,
       23029, 59869, 37324, 65248, 62847, 67727, 24728, 16916, 27854,
       29870, 44773, 72344, 27564, 55345, 19962, 36815, 69366, 38076,
       52830, 59203, 45170, 42000, 27220, 35635, 18655, 23181, 66930,
       66793, 16418, 72239, 53353, 17185, 53071, 67688, 23983, 25716,
       64727, 47020, 55497, 72146, 43640, 35298, 31762, 51326, 56616,
       17572, 54713, 16745, 29562, 32472, 40424, 46963, 46666, 24354,
       59292, 60168, 51827, 43650, 62730, 39921, 31557, 71841, 70111,
       16221, 44201, 57710, 52697, 28763, 30263, 66972, 43708, 44994,
       56617, 18142, 25503, 34535, 68440, 38087, 36360, 57772, 34114,
       57304, 22706, 59464, 43352, 21796, 21380, 20058, 46342, 66707,
       51144, 54269, 64495, 27082, 35541, 45570, 45237, 55263, 43749,
       70533, 31353, 61799, 63181, 37156, 24396, 68585, 55945, 34726,
       53014, 59541, 32175, 16393, 46015, 15623, 61436, 64978, 71518,
       64720, 21552, 38227, 33259, 31244, 52129, 41246, 70307, 17462,
       21618, 70785, 62217, 36896, 51514, 45167, 56470, 44302, 15580,
       49204, 29762, 54823, 27518, 20369, 22320, 56792, 40244, 24734,
       50665, 36347, 16336, 26364, 41965, 52046, 18542, 26547, 21917,
       31659, 40071, 48058, 49518, 25912, 15181, 23759, 46669, 35646,
       38708, 46243, 15995, 23177, 63958, 68473, 48136, 23719, 60578,
       18878, 47717, 16550, 56120, 54872, 30898, 17859, 48429, 35016,
       51672, 53140, 70167, 31909, 59702, 69354, 17791, 16835, 40827,
       26864, 37631, 29380, 39019, 52253, 29278, 16595, 55623, 72737,
       63072, 20079, 56272, 43930, 71498, 48383, 33686, 46536, 66747,
       44466, 20353, 18575, 68376, 23767, 27116, 24014, 64722, 23327,
       36066, 27770, 19012, 45549, 45157, 72343, 16588, 66776, 72188,
       65346, 69838, 67603, 63258, 39677, 41894, 37482, 32901, 41981,
       26153, 37040, 16733, 44079, 40349, 38466, 30724, 37206, 20302,
       70880, 65423, 70383, 20440, 67916, 35790, 29228, 54125, 18215,
       44674, 38320, 71310, 39693, 66977, 21162, 29070, 38032, 50583,
       46347, 43726, 46171, 19958, 23131, 68901, 20948, 52694, 31960,
       48903, 65192, 64509, 36130, 44900, 40554, 50647, 33704, 57721,
       51676, 72397, 71313, 69769, 28849, 35303, 37770, 37084, 41669,
       26181, 50004, 70623, 54292, 39235, 22029, 51765, 38467, 30623,
       21009, 16737, 41966, 27003, 48318, 32235, 38748, 72156, 17163,
       58946, 40543, 37466, 59117, 60788, 25419, 44503, 61918, 67192,
       48775, 15019, 59211, 69691, 38137, 66447, 55988, 40609, 50229,
       56847, 24569, 15785, 64475, 24132, 58367, 18297, 31921, 24453,
       22182, 33278, 68381, 37664, 25006, 71412, 63202, 23304, 38737,
       55395, 26369])

### Step 8. Add the column owners to cars

In [13]:
cars['owners'] = nr_owners.tolist()
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,46304
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,45057
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,21532
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,38691
4,17.0,8,302,140,3449,10.5,70,1,ford torino,37937
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,63202
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,23304
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,38737
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,55395
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,26369